
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* variables */
  --black: #454545;
  --whiteIsh: #f3f5f7;
  --grey: #ababab;
}

/* sidebar */
/* mobile first view */
.sidebar {
  width: 400px;
  height: 100vh;
  background: var(--black);
  color: var(--whiteIsh);
}

@media screen and (min-width: 480px) {
  .sidebar {
    width: 20vw;
  }
}

.sidebar_heading, .msg_heading {
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  padding: 4px;
  font-weight: 300;
}

.msg {
  width: 100%;
  height: 100%;
}

/* form */
.msg_form {
  position: absolute;
  bottom: 0;
  width: 80vw;
}

.msg_form .msg_input {
  padding: 10px;
  width: 100%;
  border-radius: 0.7rem;
  border: solid 1px var(--black);
  margin: 2px;
}

#messages {
  width: 100%;
  position: relative;
}

#messages li {
  background: #ededed;
  color: var(--black);
  padding: 2px 8px;
  margin: auto;
  margin-bottom: 4px;
  width: 50%;
  min-height: 1.5rem;
  border-radius: 10px;
}

.notifs {
  width: 100%;
  text-align: center;
}

ul, li {
  list-style: none;
  max-height: 80vh;
  overflow-y: auto;
}

li {
  min-height: 1.5rem;
}
.add_task {
  margin-top: 20px;
}

.add_task_heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.add_task_form {
  display: flex;
  flex-direction: column;
}

.add_task_input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
}

.add_task_select {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
}

.add_task_button {
  padding: 8px 15px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}


.todo_list {
  margin-top: 20px;
}

.todo_heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.todo_form {
  display: flex;
}

.todo_input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
}

.add_task_button {
  padding: 8px 15px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.todo_items {
  list-style: none;
  padding: 0;
}

.todo_items li {
  margin-bottom: 5px;
}

.todo_items li span {
  font-weight: bold;
}

.todo_items li .delete_button {
  margin-left: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 2px 8px;
  cursor: pointer;
}
